{% extends 'base.html.twig' %}

{% block title %}Hello LoginAccessController!{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Landing Page</h1>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
            {% for product in products %}
        <div>

            <div class="card my-3" style="width: 18rem;">
                <img src="{{ asset('images/' ~ product.imageFile) }}" class="card-img-top" alt="image product">
                <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{product.description}}</p>
                <p class="card-text">{{product.price}}</p>
                {# <a href="#" class="btn btn-primary">Go somewhere</a> #}
                </div>
            </div>
        </div>

            {% else %}
                <p>no records found</p>
            {% endfor %}
    </div>
</div>
{% endblock %}